@charset "utf-8";

/*doc
---
title: Header
name: header
category: Basics
---

<header class="header">
</header>

```
<header class="header">
</header>
```

Header Element.

*/

.header {
  background-color: #e4e4e4;
}

