<header class="header">
	<div>
		<div>
			<a href="#">HOME</a>
		</div>
		<form>
			<input type="text" value="" placeholder="Search" />
		</form>
	</div>
	<nav>
		<ul>
			<li><a href="#">BLOG</a></li>
			<li><a href="#">TAGS</a></li>
			<li><a href="#">USERS</a></li>
		</ul>
	</nav>
</header>
